@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    flex-direction: column;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

.video-container {
    text-align: center;
    margin: 20px;
}

.join-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #b74b4b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.join-btn:hover {
    background-color: #a03d3d;
}

#passwordPrompt {
    text-align: center;
}

#passwordPrompt input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

#submitPassword {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b74b4b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#submitPassword:hover {
    background-color: #a03d3d;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
    float: right;
}
